html {
    background: url(../img/wald.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.credits {
    position: fixed;
    top: 0;
    right: 25px;
    z-index: 0;
    font-size: 12px;
    color: white;
    text-shadow: 0 0 2px black; 
}

.olvz-logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.olvz-logo img {
    width: 150px;
    margin: 25px;
}

.olz-logo {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

.olz-logo img {
    width: 175px;
    margin: 25px;
}

#countdown {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#clock {
    margin: auto auto;
    font-size: 128px;
    color: white;
    text-shadow: 0 0 10px black; 
}

#ansprache {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    opacity: 0;
    z-index: 1;
    text-align: center;
    transition: opacity 3s ease-in-out;
}

#ansprache video {
    width: 100%;
    height: 100%;
}

#ansprache .skip-ansprache {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 4;
}

#siegerehrung {
    position: relative;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.kat {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}

.kat h2 {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    font-size: 48px;
    color: white;
    text-shadow: 0 0 5px black; 
}

.kat .pokal {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 3s ease-in-out, left 3s ease-in-out, bottom 3s ease-in-out, width 3s ease-in-out, margin 3s ease-in-out;
}

.podest {
    position: relative;
    width: 50%;
}

.podest .background {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 800px;
}

.podest .first {
    position: absolute;
    bottom: 325px;
    left: 305px;
    width: 190px;
}

.podest .second {
    position: absolute;
    bottom: 225px;
    left: 105px;
    width: 190px;
}

.podest .third {
    position: absolute;
    bottom: 225px;
    left: 505px;
    width: 190px;
}

.podest .img {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.podest .name {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.podest .club {
    color: white;
    text-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.boden {
    position: relative;
    width: 50%;
}

.boden .fourth {
    position: absolute;
    bottom: 125px;
    left: 105px;
    width: 190px;
}

.boden .fifth {
    position: absolute;
    bottom: 125px;
    left: 305px;
    width: 190px;
}

.boden .sixth {
    position: absolute;
    bottom: 125px;
    left: 505px;
    width: 190px;
}

.boden .img {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.boden .name {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.boden .club {
    color: white;
    text-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}  

audio {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

audio.inactive {
    display: none;
}
